.btn-right {
    float: right;
    margin: 10px 0px; 
}

.three-quarters {
    width: 25px;
    height: 25px;
}

.editable-item {
    cursor: pointer;
}

.editable-item:hover {
    color: #337ab7;
}

input[type='text']:disabled.edited-content {
    cursor: progress;
}

.stage-name {
    margin-bottom: 24px;
}
